* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Prompt, sans-serif;
}
.global {
    display: flex;
    justify-content: center;
    min-height: 40vh;
}
.global > section,
.global > header,
.global > footer {
    flex: 0 1 var(--largeur-centre);
    padding: 3rem 1rem;
    background-color: rgba(255, 255, 255, var(--transparence));
}

#entete,
#footer {
    min-height: 20vh;
}
.global > .hero {
    flex: 1;
}
#menu {
    min-height: 20vh;
}
#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
    min-height: auto;
    padding-right: 5%;
}
#acceuil {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-acceuil);
    position: relative;
}
#evenement {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-evenement);
    position: relative;
}
#galerie {
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    position: relative;
    width: 100vw;
}
#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    width: 100vw;
    z-index: 1;
}
header,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.global > header {
    flex: 1;
}
