:root {
    --couleur-arriere-entete: rgb(124, 119, 177, 1);
    --couleur-arriere-accueil: rgba(56, 51, 109, 1);
    --couleur-arriere-evenement: rgba(86, 136, 108, 1);
    --couleur-arriere-galerie: rgba(190, 191, 108, 1);
    --couleur-arriere-footer: rgba(122, 178, 149, 1);
    --largeur-centre: 1000px;
}
