/*.primary {
  color: #ff0000;
}

.secondary {
  color: #00ff00;
}

.tertiary {
  color: #0000ff;
}

.clr-primaire-100 {
  color: hsl(220, 100%, 85%);
}

.bck-primaire-100 {
  background-color: hsl(220, 100%, 85%);
}

.clr-primaire-200 {
  color: hsl(220, 100%, 60%);
}

.bck-primaire-200 {
  background-color: hsl(220, 100%, 60%);
}

.clr-primaire-300 {
  color: hsl(220, 100%, 30%);
}

.bck-primaire-300 {
  background-color: hsl(220, 100%, 30%);
}

.clr-primaire-400 {
  color: hsl(220, 100%, 15%);
}

.bck-primaire-400 {
  background-color: hsl(220, 100%, 15%);
}

.clr-secondaire-100 {
  color: hsl(40, 100%, 85%);
}

.bck-secondaire-100 {
  background-color: hsl(40, 100%, 85%);
}

.clr-secondaire-200 {
  color: hsl(40, 100%, 50%);
}

.bck-secondaire-200 {
  background-color: hsl(40, 100%, 50%);
}

.clr-secondaire-300 {
  color: hsl(40, 100%, 30%);
}

.bck-secondaire-300 {
  background-color: hsl(40, 100%, 30%);
}

.clr-secondaire-400 {
  color: hsl(40, 100%, 15%);
}

.bck-secondaire-400 {
  background-color: hsl(40, 100%, 15%);
}

.clr-ternaire-100 {
  color: hsl(10, 100%, 85%);
}

.bck-ternaire-100 {
  background-color: hsl(10, 100%, 85%);
}

.clr-ternaire-200 {
  color: hsl(10, 100%, 50%);
}

.bck-ternaire-200 {
  background-color: hsl(10, 100%, 50%);
}

.clr-ternaire-300 {
  color: hsl(10, 100%, 30%);
}

.bck-ternaire-300 {
  background-color: hsl(10, 100%, 30%);
}

.clr-ternaire-400 {
  color: hsl(10, 100%, 15%);
}

.bck-ternaire-400 {
  background-color: hsl(10, 100%, 15%);
}

.clr-vert-100 {
  color: hsl(70, 100%, 85%);
}

.bck-vert-100 {
  background-color: hsl(70, 100%, 85%);
}

.clr-vert-200 {
  color: hsl(70, 100%, 50%);
}

.bck-vert-200 {
  background-color: hsl(70, 100%, 50%);
}

.clr-vert-300 {
  color: hsl(70, 100%, 30%);
}

.bck-vert-300 {
  background-color: hsl(70, 100%, 30%);
}

.clr-vert-400 {
  color: hsl(70, 100%, 15%);
}

.bck-vert-400 {
  background-color: hsl(70, 100%, 15%);
}

.clr-agencement-primaire {
  color: hsl(220, 100%, 15%);
  background-image: linear-gradient(90deg, hsl(220, 100%, 85%), hsl(220, 100%, 60%));
}

.clr-agencement-secondaire {
  color: hsl(40, 100%, 15%);
  background-color: hsl(40, 100%, 85%);
}

.clr-agencement-ternaire {
  color: hsl(10, 100%, 15%);
  background-color: hsl(10, 100%, 85%);
}

.clr-agencement-vert {
  color: hsl(70, 100%, 15%);
  background-color: hsl(70, 100%, 85%);
}

:root {
  /*--couleur-arriere-entete: rgb(124, 119, 177, 1);
  --couleur-arriere-accueil: rgba(56, 51, 109, 1);
  --couleur-arriere-evenement: rgba(86, 136, 108, 1);
  --couleur-arriere-galerie: rgba(190, 191, 108, 1);
  --couleur-arriere-footer: rgba(122, 178, 149, 1);
  --largeur-centre: 1000px;*/
  --u1: 160;
  --u2: calc(var(--u1) + 180);
  --u3: calc(var(--u2) - 30);
  --u4: calc(var(--u2) + 30);
  --s-arriere: 100%;
  --s-block-code: 10%;
  --s-avant: 30%;
  --l-arriere: 30%;
  --l-block-code: 20%;
  --l-avant: 20%;
  --couleur-arriere-entete: hsl(var(--u1), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-accueil: hsl(var(--u2), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-evenement: hsl(var(--u3), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-galerie: hsl(var(--u2), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-footer: hsl(var(--u1), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-block-code: hsl(var(--u1), var(--s-block-code), var(--l-block-code));
  --couleur-entete: hsl(var(--u1), var(--s-avant), var(--l-avant));
  --couleur-accueil: hsl(var(--u2), var(--s-avant), var(--l-avant));
  --couleur-evenement: hsl(var(--u3), var(--s-avant), var(--l-avant));
  --couleur-galerie: hsl(var(--u4), var(--s-avant), var(--l-avant));
  --couleur-footer: hsl(var(--u1), var(--s-avant), var(--l-avant));
  --largeur-centre: 1000px;
  --transparence: 0;
}

#entete {
  --_couleur-arriere-vague: var(--couleur-arriere-galerie);
}

#galerie {
  --_couleur-arriere-vague: var(--couleur-arriere-entete);
}*//*# sourceMappingURL=couleurs.css.map */