.cours {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.carte {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 20%;
    border: rgba(0, 0, 0, 0.3) 4px solid;
    border-radius: 1vw;
    padding: 1vw;
}
