.global {
    background-color: var(--couleur-arriere-entete);
}
.menu-principal-container {
    //nav
    // background-color: black;
}
.menu {
    //ul
    z-index: 1;
    position: absolute;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    transform: translateX(300%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 2rem;
    width: 80vw;
    backdrop-filter: blur(50px);
    box-shadow: 1px 1px 5px 2px rgba(1, 1, 1, 0.2);
    transition: transform 0.5s ease-in-out;
    @media (min-width: 700px) {
        position: static;
        flex-direction: row;
        display: flex;
        transform: translateX(0);
    }
}

.menu-item {
    //li
    flex: 1 0 50px;
}

.menu-item a {
    // li a
    color: #fff;
    text-decoration: none;
}

/* gestion label #burger l'image svg est dans un label */
#burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    @media (min-width: 700px) {
        display: none;
    }
}

#chk_burger:checked ~ .menu__header .menu {
    transform: translateX(0);
}

#chk_burger {
    display: none;
}
