h1 {
    font-size: clamp(1.25rem, -2.656rem + 12.5vw, 4.375rem);
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.3);
}
h2 {
    font-size: clamp(1rem, -1.292rem + 73335vw, 3.75rem);
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.3);
}
h3 {
    font-size: clamp(0.7rem, 0.486rem + 0.571vw, 1rem);
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.2);
}
h4 {
    font-size: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    font-weight: 300;
    font-style: light;
    color: rgba(0, 0, 0, 0.2);
}
h5 {
    font-size: clamp(0.5rem, 0.214rem + 0.762vw, 0.9rem);
    font-weight: 200;
    font-style: light;
    color: rgba(0, 0, 0, 0.2);
}
h6 {
    font-size: clamp(0.3rem, 0.086rem + 0.571vw, 0.6rem);
    font-weight: 100;
    font-style: light;
    color: rgba(0, 0, 0, 0.2);
}
