.block-code {
    background-color: var(--couleur-arriere-block-code);
    padding: 3rem;
    border-radius: 2rem;
    color: rgba(225, 225, 225, 0.5);
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
}
