.divButton {
    display: flex;
    flex-direction: row;
}
button {
    margin: 1rem;
    width: 20rem;
    height: 5rem;
    background-color: var(--couleur-arriere-entete);
    font-size: clamp(1rem, 0.464rem + 1.429vw, 1.75rem);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 2rem;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
    transition: filter 0.2s ease;
}
button:hover {
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.5));
}
button:active {
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5)) brightness(0.8);
}
a:visited {
    color: red;
}
